@font-face {
    font-family: 'PT Sans';
    src: url('../../resources/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    padding-top: 1em; 
    font-family: "PT Sans", sans-serif;
}

.main-content {
    margin-left: 270px; 
    padding: 20px;
}
h2{
    margin-left: 0.2em;
}

.card {
    width: 18rem; 
    margin-bottom: 1em; 
    margin-right: 1em;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
}

.card-img-top {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    object-fit: cover; 
    width: 10em;
    margin-top: 1em;
    margin-left: 3em;
}

.card-body {
    flex: 1; 
    padding: 1rem; 
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold; 
    margin-bottom: 0.5rem; 
}

.card-text {
    font-size: 1rem; 
    line-height: 1.4;
    margin-bottom: 1rem; 
    margin-top: 1rem;
}

.btn-primary {
    background-color: #330066; 
    color: #fff; 
    border: none;
    padding: 0.5rem 1rem; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
    margin-right: 0.3em;
    font-size: 1em;
}

.btn-primary:hover {
    background-color:#330066; 
    color: grey;
}

.btn-primary[disabled] {
    background-color:white; 
    border-color: white; 
    cursor: not-allowed; 
}

#coursesList{
    margin-left: 0.2em;
}

#addCourseButton {
    width: 6rem;
    font-family: "PT Sans", sans-serif;
    background-color: #330066; 
    color: #fff; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 0.5em;
    position: absolute; 
    top: 5.9em; 
    right: 4em;
    font-size: 0.9em;
}
#addCourseButton:hover {
    background-color:#330066; 
    color: grey;
}