@font-face {
    font-family: 'PT Sans';
    src: url('../../resources/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    padding-top: 1em; 
    font-family: "PT Sans", sans-serif;
}
.main-content {
    margin-left: 270px; 
    padding: 20px;
}
.card {
    background-color: #DBE2EF;
}
#TotalCoursesFound {
    font-weight: bold;
}
#TotalregisteredUserFound {
    font-weight: bold;
}
#TotalenrolledCoursesFound {
    font-weight: bold;
}
#totalCoursesInProgress {
    font-weight: bold;
}
#totalCoursesCompleted {
    font-weight: bold;
}
#totalAssessmentsTaken {
    font-weight: bold;
}
.card-title {
    font-weight: bold;
}