main {
    background-color: white;
}

.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    padding: 0.3em;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    margin-top: 1em;
}

#register-btn {
    background-color: #180161;
    border-color: #180161;
}
.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}
#login-link {
    text-decoration: none;
    color: black;
}
#login-link:hover {
    color: blue;
}