@font-face {
  font-family: "Mukta";
  src: url("../../resources/fonts/Mukta-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  margin-left: 295px;
  margin-top: 1.5em;
  margin-right: 1.2em;
}
#searchInput {
  width: 200px;
}
.progress {
  position: relative;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
}
.progress-bar {
  background-color: #c80036;
}
